RewriteEngine On

# Якщо файл або папка існують фізично — віддаємо їх напряму
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Всі інші запити перенаправляємо на index.php
RewriteRule . index.php [L]
